.button-right-icon{
  margin-left: 5px;
}
.login-cover{
  background: #fff;
  position: fixed;
  width: 100%;
  height:100vh;
  top:0;
  left;0;
  z-index:800;
  display:flex;
  justify-content: center;
  align-items: center;
}
.page-loader{

}
.welcome_screen, .centered_image{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.centered_image{
  width: 200px;
  height: auto;
}
.facebook-login, .google-login{
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#loginprogress , #loginError
  display:none
}
